:root {
    /* font-size: 32px; */
    font-family: 'Roboto Mono';
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container{
    width: 650px;
    /* margin-top: 50%; */
    margin: 0px auto;
    padding: 5px;
}

.header-frame h1{
    margin: 0px;
}

.header-frame h2{
    margin: 0px 0px 12px;
}

.header-section{
    width: 650px;
    height: 310px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-frame{
    margin: 0px 0px 10px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* height: 100%; */
}

.links{
    margin: 25px 0px;
}

.links a{
    color: #e9bc3f;
    display: inline;
    font-weight: 1000;
    padding: 0px 12px 0px 0px;
}